-
  const STATE_KEY = 'pythonWorldState';
  const worldState = getState(STATE_KEY);
  const hasStaff = inventory.includes('python_staff');

mixin flavor
  response#flavor.
    !{getTranslatedString('python.ghost_intro.flavor_response')}

mixin who_are_you
  response#who_are_you.
    !{getTranslatedString('python.ghost_intro.who_are_you_response')}

mixin what_happened
  response#what_happened.
    !{getTranslatedString('python.ghost_intro.what_happened_response')}

mixin get_started
  response#get_started.
    !{getTranslatedString('python.ghost_intro.get_started_response')}

conversation(display_name="Great Pythonic Sage")
  case lastResponse
    when "flavor"
      statement#flavor
      responses
        +get_started
        +what_happened
    
    when "who_are_you"
      statement#great_sage
      responses
        +flavor
        +get_started
        +what_happened

    when "what_happened"
      statement#what_happened
      responses
        +get_started
        +who_are_you

    when "ack"
      statement#ack
      responses
        +what_happened
        +who_are_you

    when "get_started"
      statement#get_started
      responses
        response#ack.
          !{getTranslatedString('python.ghost_intro.lastResponse.get_started')}

    default
      if !worldState.greatSageInitialGreeting
        - worldState.greatSageInitialGreeting = true;
        statement#default
        responses
          response#who_are_you.
            !{getTranslatedString('python.ghost_intro.lastResponse.default')}
          +what_happened
          +get_started

      else if hasStaff
        statement#thanks
        responses
          +what_happened
          +who_are_you

      else
        statement#follow_up_greeting
        responses
          +get_started
          +what_happened
          +who_are_you

  statements
    statement#default
      text.
        !{getTranslatedString('python.ghost_intro.default')}

    statement#thanks
      text.
        !{getTranslatedString('python.ghost_intro.thanks')}

    statement#follow_up_greeting
      text.
        !{getTranslatedString('python.ghost_intro.follow_up_greeting')}

    statement#get_started
      text.
        !{getTranslatedString('python.ghost_intro.get_started')}

    statement#ack
      if hasStaff
        text.
          !{getTranslatedString('python.ghost_intro.ack.hasStaff')}
      else
        text.
          !{getTranslatedString('python.ghost_intro.ack.else')}

    statement#what_happened
      text.
        !{getTranslatedString('python.ghost_intro.what_happened')}
    
    statement#great_sage
      text.
        !{getTranslatedString('python.ghost_intro.great_sage')}
    
    statement#flavor
      text.
        !{getTranslatedString('python.ghost_intro.flavor')}

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
