-
  const STATE_KEY = 'pythonWorldState';
  const worldState = getState(STATE_KEY);
  const hasStaff = inventory.includes('python_staff');

mixin flavor
  response#flavor.
    !{getTranslatedString('python.vanPossumDefault.flavor_response')}

mixin who_are_you
  response#who_are_you.
    !{getTranslatedString('python.vanPossumDefault.who_are_you_response')}

mixin what_happened
  response#what_happened.
    !{getTranslatedString('python.vanPossumDefault.what_happened_response')}

mixin get_started
  response#get_started.
    !{getTranslatedString('python.vanPossumDefault.get_started_response')}

conversation(display_name="Toledo Van Possum")
  case lastResponse
    when "flavor"
      statement#flavor
      responses
        +get_started
        +what_happened

    when "who_are_you"
      statement#toledo
      responses
        +flavor
        +get_started
        +what_happened

    when "what_happened"
      statement#what_happened
      responses
        +get_started
        +who_are_you

    when "ack"
      statement#ack
      responses
        +what_happened
        +who_are_you

    when "get_started"
      statement#get_started
      responses
        if hasStaff
          +what_happened
          +who_are_you
        else
          response#ack.
            !{getTranslatedString('python.vanPossumDefault.lastResponse.get_started')}

    default
      if !worldState.toledoInitialGreeting
        - worldState.toledoInitialGreeting = true;
        statement#default
        responses
          response#who_are_you.
            !{getTranslatedString('python.vanPossumDefault.lastResponse.default')}
          +what_happened
          +get_started

      else if hasStaff
        statement#thanks
        responses
          +what_happened
          +who_are_you

      else
        statement#follow_up_greeting
        responses
          +get_started
          +what_happened
          +who_are_you

  statements
    statement#default
      text.
        !{getTranslatedString('python.vanPossumDefault.default')}

    statement#follow_up_greeting
      text.
        !{getTranslatedString('python.vanPossumDefault.follow_up_greeting')}

    statement#thanks
      text.
        !{getTranslatedString('python.vanPossumDefault.thanks')}

    statement#get_started
      if hasStaff
        text.
          !{getTranslatedString('python.vanPossumDefault.get_started.hasStaff')}
      else
        text.
          !{getTranslatedString('python.vanPossumDefault.get_started.else')}

    statement#ack
      text.
        !{getTranslatedString('python.vanPossumDefault.ack')}

    statement#what_happened
      text.
        !{getTranslatedString('python.vanPossumDefault.what_happened')}
    
    statement#toledo
      text.
        !{getTranslatedString('python.vanPossumDefault.toledo')}
    
    statement#flavor
      text.
        !{getTranslatedString('python.vanPossumDefault.flavor')}

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
